#header {
    padding: 0.8rem;
    text-align: center;
}

#header h1 {
    display: inline-block;
    padding: 5px;
}

small {
    font-size: 0.7em;
}

#title {
    margin-bottom: 10px;
}

#footer {
    padding: 1.25rem;
    text-align: center;
}

#credits {
    margin-bottom: 20px;
}

#inspiredby {
    margin-top: 20px;
    font-size: 0.8em;
}