// COLORS

$white: #ffffff;

$light: #f1f1f1;

$orange: #DF5941;

$blue: #369;

$blue-light: #47B;

$ResearchColor: #B3C126;

$PlanColor: #FECC2F;

$ExploreColor: #F8A227;

$CommunicateColor: #F46320;

$CreateColor: #DB3937;

$FeedbacksColor: #EE6579;

$FinaliseColor: #A164D9;

$DelightColor: #40A4D8;

$AnalyseColor: #33BEB7;


// CARDS

$cardImageSize: 64px;

$cardBorderColor: $light;



// FONTS

@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400");

$body-font-family: 'Open Sans', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
